body {
  background: linear-gradient(
    to right,
    rgba(5, 15, 85, 1) 0%, 
    rgba(35, 45, 135, 1) 10%,
    rgba(88, 21, 132, 1) 32%,
    rgba(145, 14, 115, 1) 50%,
    rgba(185, 125, 1, 1) 100%
  );
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

#gifContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background: linear-gradient(to bottom right, violet, purple, black);
  background-color: purple;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 80px;
}

#gifContainer div {
  position: relative;
  text-align: center;
  background-color: purple;

  padding: 5px; 
  border: 1px solid black;
}

#gifContainer div img {
  width: 100%;
  height: auto;
  position: relative;
}

#gifContainer .favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  font-size: 20px;
  border: none;
  transition: 0.3s linear;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.5);
  color: pink;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gifContainer .favorite-button:hover {
  box-shadow: 2px 2px #666;
  transform: translateY(4px);
}

#header-div {
  background: blue;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid rgb(155, 65, 95);
  align-items: center;
}

#trending-button {
  padding: 10px 20px; 
  margin-left: 20px; 
}

#search-container button {
  padding: 15px 30px; /* Increase padding to make buttons larger */
  font-size: 16px; /* Adjust font size */
  background-color: rgb(155, 155, 108); /* Set background color */
  color: white; /* Set text color */
  border: 1px solid black;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#search-container button:hover {
  background-color: #45a049; /* Darken background color on hover */
}

#about-us {
  padding: 10px 20px;
  background-color: beige;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
