

  body {
    background: url('../images/main-backround.jpg') repeat;
    font-family: 'Roboto', sans-serif;
  }

  #app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  #nav-id {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px;
    border-right: 1px solid black;
  }


  #gifContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

#gifContainer img {
  display: block;
  max-width: 100%;
}

#gifContainer div {
  position: relative;
}

#gifContainer div .favorite-button { 
  position: absolute; 
  bottom: 20px; 
  right: 20px; 
  width: 110px; 
  height: 40px; 
  border-radius: 20px; 
  font-size: 15px; 
  border: none; 
  transition: 0.3s linear; 
  font-weight: 700; 
  background: transparent;
  opacity: 0.8;
  color: pink;
  font-size: 30px;
  
} 


#gifContainer div .favorite-button:hover {
  box-shadow: 2px 2px #666;
  transform: translateY(4px);
}
